#countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

#countdown-container span {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.title-countdown {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
